* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  background: #fff;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.35em;
  margin: 0;
  padding: 6px;
  background-color: #F1F1F1;
  color: #525252;
}


a, .link {
    color: #4183C4;
    text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0px 5px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h2 {
  border-bottom: 1px solid #eee;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p, ul {
  margin: 15px 0;
}

ul {
  padding-left: 30px;
}

.page {
    max-width: 602px;
    background-color: white;
    box-shadow: #E4E4E4 0px 0px 20px;
    margin: 2rem auto;
    border-width: 1px;
    border-style: solid;
    border-color: #EAEAEA;
    border-image: initial;
    border-radius: 0.4rem;
}


.tweet {
    position: relative;
    display: block;
    padding: 1.5rem 0px;
    border-bottom: 1px solid #E4E4E4;
}

a.tweet {
    color: #525252;
    text-decoration: none;
}

.tweet .wrap-meta, .tweet .wrap-text {
    padding: 0px 1.5rem;
}

.tweet .wrap-retweet .wrap-meta, .tweet .wrap-retweet .wrap-text {
    padding: 0px;
}


.tweet .timestamp {
    color: #D6D6D6;
    font-size: 0.7rem;
    display: inline-block;
    margin-left: 0.3rem;
}

.tweet p {
    margin: 0.4rem 0 0 0;
    padding: 0;
    line-height: 1.3rem;
    word-wrap: break-word; 
}

.tweet .wrap-meta .meta {
    width: 80%;
    display: inline-block;
    margin-top: 1em;
}

.tweet .author {
    color: #000000;
}

.tweet .profpic {
    display: inline-block;
    width: 11%;
    vertical-align: top;
}

.tweet .content {
    display: inline-block;
    width: 87.8%;
}

.tweet .wrap-media {
    width: 117%;
    box-shadow: #c1c1c1 0px 8px 22px;
    margin: 0.6em -3.2em -1.5em;
}

.tweet .wrap-media img.media {
    width: 100%;
    display: block;
}

.tweet .wrap-retweet {
    background-color: #e2ecff;
    margin-top: 0.5em;
    padding: 1em;
}

.clearfix {
    clear: both;
}

.tweet .avatar {
    width: 92%;
}

.tweet .retweeting_user {
    color: #B7B7B7;
    font-size: 0.9rem;
    margin-bottom: 0.4rem;
}

@media only screen and (max-width: 700px) {
    
    body {
      padding: 0;
    }
    
    .page {
      margin: 0;
      padding: 0;
      border: none;
      box-shadow: none;
      border-radius: 0;
    }
    
    .tweet .wrap-meta .meta {
        width: auto;
        display: inline-block;
        margin-top: 0.3em;
    }

    .tweet .wrap-media {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0.8em;
        box-shadow: #c1c1c1 0px -2px 22px;
    }

}